<!DOCTYPE html>
{% extends 'Doctor_Home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Events</h4>
                  <p class="card-description">
                    Basic form elements
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'update_event' event_id=event.id %}" enctype="multipart/form-data">
                      {% csrf_token %}

                       <div class="form-group">
                      <label>File upload</label>
                      <img src="{{event.cover_image.url}}" width="100px" height="100px">
                      <input type="file" name="cover_image" class="file-upload-default">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Title</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="title" value="{{event.title}}" name="title">
                    </div>

                      <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">{{event.description}}</textarea>
                    </div>

                      <div class="form-group">
                      <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="category" value="{{event.category}}">
                          <option>Webinar</option>
                          <option>Workshop</option>
                          <option>Panel Discussions</option>
                          <option>Awareness Programs</option>
                          <option>Q & A Sessions</option>
                        </select>
                      </div>

                      <div class="form-group">
                      <label for="exampleInputDate3">Date</label>
                      <input type="date" class="form-control" id="exampleInputDate3" placeholder="Date" name="date" value="{{event.date}}">
                    </div>

                      <div class="form-group">
                      <label for="exampleInputTime3">Time</label>
                      <input type="time" class="form-control" id="exampleInputTime3" placeholder="Time" name="time" value="{{event.time}}">
                    </div>

                      <div class="form-group">
                      <label for="exampleInputCity1">Location</label>
                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" name="location" value="{{event.location}}">
                    </div>


                      <div class="form-group">
                      <label for="exampleInputOrgan1">Organizer</label>
                      <input type="text" class="form-control" id="exampleInputOrgan1" placeholder="Organizer" name="organizer" value="{{event.organizer}}">
                    </div>

                       <div class="form-group">
                      <label for="exampleInputOrgan2">Organizer Information</label>
                      <input type="text" class="form-control" id="exampleInputOrgan2" placeholder="Organizer Info" name="organizer_info" value="{{event.organizer_info}}">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="contact_email" value="{{event.contact_email}}">
                    </div>


                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}

        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
                swal('{{i}}', '', 'info');
            </script>
        {% else %}
            <script>
                swal('{{i}}', '', 'success');
            </script>

        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}