<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>
    <div class="col-lg-14 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Calm Musics</h4>
                  <p class="card-description">
<!--                    Add class <code>.table-hover</code>-->
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover" style="width:1600px;">
                        <thead>
                            <tr>
                                <th>Cover Image</th>
                                <th>Title</th>
                                <th>Media</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in exercises %}
                            <tr>
                                <td>
                              <img src="{{ d.cover_image.url }}" alt="Profile Image">
                            </td>
                                <td>{{ d.title }}</td>
                                <td>{{ d.media_file }}</td>
                                <td>{{ d.description }}</td>
                                <td class="inline-actions" >
                                    <a href="{% url 'delete_exercise' dr_id=d.id %}" class="btn btn-danger btn-sm btn-icon-text">Delete</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No exercise details available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                  </div>
                </div>
              </div>
            </div>
<style>
    .inline-actions {
    display: flex;
    gap: 30px;
}
</style>
</body>
</html>
{% endblock %}