<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gratitude Prompts</title>
</head>
<body>
    <div class="col-lg-14 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Gratitude Prompts</h4>
                  <p class="card-description">
<!--                    Add class <code>.table-hover</code>-->
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover" style="width:1600px;">
                        <thead>
                            <tr>
                                <th>Challenge Name</th>
                                <th>Description</th>
                                <th>Duration</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Total Tasks</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in challenges %}
                            <tr>
                                <td>{{ d.name }}</td>
                                <td>{{ d.description }}</td>
                                <td>{{ d.duration }}</td>
                                <td>{{ d.start_date }}</td>
                                <td>{{ d.end_date }}</td>
                                <td>{{ d.total_tasks }}</td>
                                <td class="inline-actions" >
                                    <a href="{% url 'edit_challenge' co_id=d.id %}" class="btn btn-success btn-sm btn-icon-text">Edit</a>
                                    <a href="{% url 'delete_challenge' dr_id=d.id %}" class="btn btn-danger btn-sm btn-icon-text">Delete</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No Challenges available right now.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<style>
    .inline-actions {
    display: flex;
    gap: 30px;
}
</style>
</body>
</html>
{% endblock %}